# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua

# SARIF files
*.sarif.json

# Jekyll build files.
_site
.sass-cache
.bundle
.jekyll-cache
.jekyll-metadata
