# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/
.uv/

# SARIF files
*.sarif.json

# Python cache files
__pycache__/
*.egg-info/
*.pyc

# Jekyll build files.
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Local Netlify folder
.netlify
vendor/

# Deno lock file created by the netlify CLI
deno.lock
