# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/

# Python cache
__pycache__/
*.pyc

# SARIF files
*.sarif.json

# Jekyll build files.
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Local Netlify folder
.netlify
vendor/

# Deno lock file created by the netlify CLI
deno.lock
