<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{%- assign today = site.time | date: '%m-%d' %}

{%- assign icon_image_16x16 = site.data.profile.default.favicon.16x16 -%}
{%- assign icon_image_32x32 = site.data.profile.default.favicon.32x32 -%}
{%- assign icon_image_64x64 = site.data.profile.default.favicon.64x64 -%}
{%- assign icon_image_96x96 = site.data.profile.default.favicon.96x96 -%}
{% for profile in site.data.profile.special %}
  {%- if today >= profile.start and today < profile.end -%}
    {%- assign icon_image_16x16 = profile.favicon.16x16 -%}
    {%- assign icon_image_32x32 = profile.favicon.32x32 -%}
    {%- assign icon_image_64x64 = profile.favicon.64x64 -%}
    {%- assign icon_image_96x96 = profile.favicon.96x96 -%}
    {%- break -%}
  {%- endif -%}
{% endfor %}

{%- if icon_image_16x16 -%}
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ icon_image_16x16 }}" sizes="16x16">
{%- endif -%}
{%- if icon_image_32x32 -%}
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ icon_image_32x32 }}" sizes="32x32">
{%- endif -%}
{%- if icon_image_64x64 -%}
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ icon_image_64x64 }}" sizes="64x64">
{%- endif -%}
{%- if icon_image_96x96 -%}
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/{{ icon_image_96x96 }}" sizes="96x96">
{%- endif -%}
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
{%- seo -%}
{%- if page.feeds contains 'en' -%}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }} | {{ site.blogs.en.title }}"
    href="/en/feed.xml"
  >
{%- endif -%}
{%- if page.feeds contains 'jp' -%}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }} | {{ site.blogs.jp.title }}"
    href="/jp/feed.xml"
  >
{%- endif -%}
{%- if page.feeds contains 'til' -%}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }} | {{ site.blogs.til.title }}"
    href="/til/feed.xml"
  >
{%- endif -%}
{%- if site.plainwhite.dark_mode -%}
  <script src="{{ "/assets/js/darkmode.js" | relative_url }}"></script>
{%- endif -%}
{% comment %}
  # vim: ft=liquid
{% endcomment %}
