---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: '%b %-d, %Y' -%}
{% assign category = page.path | split: '/' | first %}
<div
  class="post-container h-entry"
  {% if page.lang %}
    lang="{{ page.lang }}"
  {% endif %}
>
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
  </a>
  <div class="post-meta">
    <div class="post-date">
      <i class="icon-calendar"></i
      ><time
        class="dt-published"
        datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}"
      >
        {{- page.date | date: date_format -}}
      </time>
    </div>
    <div class="post-meta-right">
      {%- include translation-links.html -%}
      {%- if page.tags.size > 0 -%}
        <ul class="post-categories">
          {%- for tag in page.tags -%}
            <li>
              <a href="/{{ category }}/tag/{{ tag | url_encode }}/" class="p-category">{{ tag }}</a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
  <div class="post e-content">
    {{ content }}
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
    <div id="disqus_thread" style="margin-top:25px"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.url | absolute_url }}';
      };
      (function () {
        var d = document,
          s = d.createElement('script');
        s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript
    >
  {%- endif -%}
</div>
{% comment %}
  vim: ft=liquid
{% endcomment %}
