---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

ul.pager {
    text-align: center;

    li {
        list-style: none;
        display: inline-block;
        padding: 1em;
    }
}
